body {
	font-size: 16px; 
	line-height: 24px; 		
    font-weight: 400;
	font-family: Roboto Regular, Arial, sans-serif;
	background: #ffffff;
	color: #000000;

}

.header-title h1 {
    font-size: 55px;   
	line-height: 55px;
    font-weight: 500; 
    font-family: Roboto Medium, Arial, sans-serif;
}

.slider-slogan h2 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    font-family: Roboto Medium, Arial, sans-serif;
}

.about-left-block h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    font-family: Roboto Medium, Arial, sans-serif;
}

.content-item h3 {
	font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: Roboto Bold, Arial, sans-serif;
}
